<div class="contact-us row bgimg-4">
      <div class="heading">Our Contacts</div>
      <div class="col-xs-12">
        <div class="row">
          <p class="col-xs-12 col-sm-6 col-sm-offset-3 tcenter">Big or small, we got a solution when you need it. Our advanced service and support provides step-by-step instructions without being put on hold or waiting in line.</p>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-5 offices">
            <h3 class="row">Our Offices</h3>
            <div class="office-item row">
              <div class="col-xs-2">
                <%= image_tag 'location.png' %>
              </div>
              <div class="address col-xs-10">
                <div class="row">HEAD OFFICE</div>
                <div class="row">
                  <%= image_tag 'home.png' ,class: "small-icon" %>
                  <span class="col-xs-11">Toronto, Ontario</span>
                </div>
                <div class="row">
                  <%= image_tag 'call.png' ,class: "small-icon" %>
                  <span class="col-xs-11"> +1 416 454 8320 </span>
                </div>
                <div class="row">
                  <%= image_tag 'message.png' ,class: "small-icon" %>
                  <span class="col-xs-11">info@ivisionsolutions.ca</span>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-xs-12 col-sm-5 form">
            <form>
              <h3 class="row">DROP US A LINE</h3>
              <div class="drop-us-item row">
                <span>YOUR NAME (REQUIRED)</span>
                <input class="col-xs-12" type="text">
              </div>
              <div class="drop-us-item row">
                <span>YOUR EMAIL (REQUIRED)</span>
                <input class="col-xs-12">
              </div>
              <div class="drop-us-item row">
                <span>SUBJECT</span>
                <input class="col-xs-12">
              </div>
              <div class="drop-us-item row">
                <span>YOUR MESSAGE</span>
                <textarea class="col-xs-12"></textarea>
              </div>
              <div class="row">
                <input type="submit">
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>