<div class="intro row" id="intro">
      <div class="heading">Our Intro</div>
      <div class="col-xs-12 top-margin">
        <div class="row">
          <div class="intro-item col-xs-3">
            <%= image_tag 'professional-consultants.png' %>
            <span style="color: #ba8d13" class="sho">Professional Consultants</span>
              <p class="hid">"We want to establish and maintain long term relationsips with you to ensure your technology needs transforms to business results."</p>
          </div>
          <div class="intro-item col-xs-3">
            <%= image_tag 'relation.png' %>
            <span style="color: #ba8d13" class="sho">Client Relationships</span>
              <p class="hid">"We will take the extra step to ensure you are provided with the highest quality of service by understanding your needs before providing solutions."</p>
          </div>
          <div class="intro-item col-xs-3">
            <%= image_tag 'service-delivery.png' %>
            <span style="color: #ba8d13" class="sho">Service Delivery</span>
              <p class="hid">"We have a team of experienced Project Managers, Business Analysts, Developers and Quality Assurance to ensure all aspects of your technology needs are handled professionally and with integrity."</p>
          </div>
          <div class="intro-item col-xs-3 col-xs-3">
            <%= image_tag 'support.png' %>
            <span style="color: #ba8d13" class="sho">Support</span>
              <p class="hid">"We want to ensure that our services are transforming into business results. We will be there for any support you require to ensure your technology is working and understood by your people."</p>
          </div>
        </div>
      </div>
        <p>
      <ul style="list-style-type: upper-roman;" class="pad">
                <li><span style="color:crimson">"Ivision Solutions"</span> <span>provides business analysis, web solutions, software development and data analytics services to its clients, helping them to leverage the use of technology to enhance their business performance.</span></li>
            <li><span style="color:crimson">"Ivision Solutions"</span><span> is a Canadian organization leveraging the benefits of offshore development in India.</span></li>
            <li><span> Offshore resources provide Ivision Solutions with the increased efficiency of round the clock development.</span></li>
            <li><span>Our clients include business corporations, public sector organizations and not-for-profit organizations. </span></li>
           <li> <span>They look to us for a consistent standard of service based on high order professional capabilities, technology insight and knowledge to develop value added solutions.</span></li>
            </ul>
        </p>
        <p id="profile"><span style="color: crimson; margin-left: 28px;" >"We want to ensure that our services are transforming into business results. We will be there for any support you require to ensure your technology is working and understood by your people."</span></p>
    </div>