<div class="solutions row" >
      <div class="container-fluid">
        <div class="row heading">Opportunities
        </div>
        <div class="row" style="position:relative">
          <%= image_tag 'paper-pen-coffee.png',class: "col-xs-12 col-sm-6 paper-pen" %>
          <div class="col-xs-12 col-sm-6">
            <div class="teacher">
              <%= image_tag 'jobs.jpg' %>
              <p>We are always looking for dedicated professional consultants to help us grow

                  If you are interested in joining a dynamic, growing company, please send your resume to<email><a href="#"> info@ivisionsolutions.ca</a> </email></p><br>
                <div class="opportunity-option">
                <span style="color:crimson">Project Management</span><br>
                <span style="color:purple">Business Analysis</span><br>
                <span style="color:#670000">Software Development</span><br>
                <span style="color:#2c5d2c">Quality Assurance </span><br>
                <span style="color:rgb(201, 154, 28)">Systems Analyst </span><br>
                    <span style="color:#128195">Database Administrators</span>
                    
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>