 <div class="profile row  bgimg-2" >
      <div class="heading">Professional</div>
      <div class="col-xs-12">
        <%= image_tag 'ceo.jpg',class: "col-xs-12 col-sm-2 author-image" %>
        <p class="col-xs-12 col-sm-10 world"><span style="color:#d87410; ">Profile and Expertise -Client Name</span>
          <br>Client Name, President and founder of Ivision Solutions Inc., a member of the International Coach Federation and of the Montreal Coach Federation, offers his expertise to business people who want to work on specific areas of managing their business. Client Name, a seasoned businessman with more than 40 years experience in various customer-oriented industries. He provides his skills and experience to benefit executives and promising mid-level employees who need to hone their various skills in order to become more effective in attaining their goals and objectives. As CEO of several large and medium-sized companies, as well as having occupied various other positions in Human Resources, Sales and Marketing, he defines himself as a generalist, at ease with all aspects of running a successful organization. As an Entrepreneur, he has started and ran various companies successfully.<br>
            We have a team of experienced Project Managers, Business Analysts, Developers and Quality Assurance to ensure all aspects of your technology needs are handled professionally and with integrity.</p>
          <span class="lower-p">"Whoever excels in their discipline benefits from the know-how and support of their coach or mentor." <div id="opportunity"></div></span>
      </div>
    </div>