<div class="team row bgimg-3" id="team">
      <div class="heading">Our Team <span>| We Believe In Quality Work</span></div>
      <%= image_tag 'ourteam.png', class: "col-xs-12 col-sm-12"%>
      <%= image_tag 'teammobile.png', class: "col-xs-12 col-sm-12"%>
    </div>