<div class="testimonials row" id="testimonials">
      <div class="heading">Testimonials</div>
        <div>
        <%= image_tag 'user.png' %>
        <p class="awesome">"I wish to express my gratitude to Client Name, my Business Coach, for his support and advice dispensed during our regular meetings."<br> "I cannot say that I made full use of his resources to date, however I can vouch for all the benefits that ensued from our sessions so far. Client Name is inspiring and down to earth!<br> He allows me to believe that I can achieve almost anything that I think possible. In short, thank you so much for your accompaniment and for the integrity of your support."</p><div id="services"></div> 
        <p></p>
    </div>
    </div>