<div class="clients intro row">
      <div class="heading follow">Follow us</div>
      <div class="intro-item col-xs-3">
        <%= image_tag 'facebook.png' %>
        <span>Facebook</span>
      </div>
      <div class="intro-item col-xs-3">
        <%= image_tag 'vimeo.png' %>
        <span>Vimeo</span>
      </div>
      <div class="intro-item col-xs-3">
        <%= image_tag 'twitter.png' %>
        <span>Twitter</span>
      </div>
      <div class="intro-item col-xs-3">
        <%= image_tag 'instagram.jpg' %>
        <span>Instagram</span>
      </div>
</div>

<footer class="row">
    <p class="col-xs-offset-4">Ivision-Solutions© 2017. All rights reserved. </p>
</footer>