<header class="container-fluid">
      <div class="col-xs-5">
        <h1>Ivision+Solutions</h1>
        <span>Business Professional</span>
      </div>
      <nav class="col-xs-7">
        <ul>
          <li class="menu"><a data-scroll href="#home">Home</a></li>
          <li class="menu"><a data-scroll href="#profile">Profile</a></li>
          <li class="menu"><a data-scroll href="#opportunity">Opportunities</a></li>
          <li class="menu"><a data-scroll href="#services">Services</a></li>
          <li class="menu"><a data-scroll href="#team">Our Team </a></li>
          <li class="menu"><a data-scroll href="#contact">Contact</a></li>
          <li class="menu"><a data-scroll href="#testimonials">Testimonial</a></li>
        </ul>
      </nav>
    </header>